@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Baloo Bhaina 2", sans-serif;
  font-weight: 500;
  text-align: center;
}

:root {
  --cell-size: 5em;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  padding: 0;
  margin: 0;
  background-color: #8402fe;
}

.wrapper {
  /* center the whole page: */
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -450%);
  color: #dbd7da;
  font-size: 1.5em;
  padding: 0px;
}

.board {
  display: grid;
  width: 20em;
  height: 20em;
  justify-content: center;
  align-content: center;
  /* justify-items: center;
  align-items: center; */
  grid-template-columns: repeat(3, auto);
  background-color: #dbd7da;
  margin: auto;
  border: 10px solid #a2ff17;
  border-bottom-left-radius: 3em;
  border-top-right-radius: 3em;
}

.cell {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* justify-items: center; */
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  position: relative;
}

.cell:nth-child(-n + 6) {
  border-bottom: 1px solid #a2ff17;
}

.cell:nth-child(3n + 1),
.cell:nth-child(3n + 2) {
  border-right: 1px solid #a2ff17;
}

/* same color for the Xs and the Os: */
.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
  background-color: #ef0290;
}

/* same color for the hover over the Xs and the Os: */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: #a2ff17;
}

/* (general X element geometry): */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

/* line of the X element geometry: */
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
/* the other line of the X element geometry: */
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* (general circle geometry) */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

/* bigger circle geometry: */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
/* inner circle geometry: */
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #dbd7da;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.winning-message {
  display: none;
  /* fixed in the center of the screen*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #dbd7da;
  font-size: 3rem;
}

.winning-message button {
  font-size: 1rem;
  border-radius: 0.6rem;
  padding: 0 0.5em;
  color: #dbd7da;
  background-color: #8402fe;
  border: none;
}

.winning-message button:hover {
  background-color: #ef0290;
}

.winning-message.show {
  display: flex;
}

@media (max-width: 500px) {
  .board {
    width: 17rem;
    height: 17rem;
  }
  .title {
    font-size: 1.9em;
    transform: translate(-50%, -330%);
  }
  .cell {
    font-size: 3.5em;
  }
}
